# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django stuff
db.sqlite3
media/
staticfiles/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Migrations cache
*/migrations/__pycache__/
